{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Add Product for '{{order.public_id}}'</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('orders.create_pos', public_id=order.public_id) }}">
            <select name="product_id" class="selectpicker form-control input is-large">
                {% for product in products %}
                    <option value="{{ product[0] }}">{{product[1]}}</option>
                {% endfor %}
            </select>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="amount" placeholder=1 autofocus="">
                </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Create</button>
        </form>
    </div>
</div>
{% endblock %}