{% extends "base.html" %}

{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('orders.static',filename='styles/orders.css') }}">

<div class="columns is-8 is-multiline">
    {% for order in orders %}
        <div class="column is-full">
            <div class="card product_container">
                <div class="card-content">
                    <div class="media-content">
                        {% if order.type == 0 %}
                        <p><a href="{{ url_for('orders.one', public_id=order.public_id) }}" class="title is-4 has-text-dark">↙️ {{order.public_id}}</a></p>
                        <p class="subtitle is-4 has-text-dark">📅 {{order.order_date }}</p>
                        <p> 🚢: {{order.supplier.title}}</p>
                        <p> total costs: -{{order.total_costs}}€ 📉
                        <p> total amount: {{order.total_amount}} 📈
                        {% else %}
                        <p><a href="{{ url_for('orders.one', public_id=order.public_id) }}" class="title is-4 has-text-dark">↗️ {{order.public_id}}</a></p>
                        <p class="subtitle is-4 has-text-dark">📅 {{order.order_date }}</p>
                        <p> 🧍: {{order.customer}}</p>
                        <p> total costs: +{{order.total_costs}}€ 📈
                        <p> total amount: {{order.total_amount}} 📉
                        {% endif %}

                        <nav class="panel">
                            <p class="panel-heading">Positions</p>
                            {% for pos in order.pos%}
                                <div class="panel-block is-active">
                                    <a href="{{ url_for('orders.delete_pos', public_id=order.public_id, pos_id=pos.public_id) }}" class="delete"></a> <div style="width:1rem"></div> <div class="name">{{pos.amount}}*{{pos.product.title}}: {{pos.costs}}€</div>
                                </div>
                                
                            {% endfor %}
                            <a href="{{ url_for('orders.create_pos', public_id=order.public_id) }}" class="panel-block is-active">
                                <span class="panel-icon">
                                ➕
                            </a>
                        </nav>
                        
                    </div>
                </div>
                <footer class="card-footer">
                    {% if order.type == 0 %}
                        <a href="{{ url_for('orders.edit_supplier', public_id=order.public_id) }}" class="card-footer-item">🖊️</a>
                    {% elif order.type == 1 %}
                        <a href="{{ url_for('orders.edit_customer', public_id=order.public_id) }}" class="card-footer-item">🖊️</a>
                    {% endif %}
                    <a href="{{ url_for('orders.delete', public_id=order.public_id) }}" class="card-footer-item">🗑️</a>
                </footer>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}