{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create Customer Order</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('orders.edit_customer', public_id=order.public_id) }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="customer" placeholder="Customer" autofocus="" value="{{order.customer}}">
                </div>
            </div>
            <select name="order_type" class="selectpicker form-control input is-large">
                <option disabled value=1>Supply</option>
                <option value=0>Customer</option>
            </select>

            
            <button class="button is-block is-info is-large is-fullwidth">Edit</button>
        </form>
    </div>
</div>
{% endblock %}