{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Delete Product for Supplier</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('suppliers.delete_product', public_id=supplier.public_id, s_p_id=s_p.public_id) }}">
            Are You sure about deleting '{{product.title}}' for '{{supplier.title}}'?
            
            <button class="button is-block is-danger is-large is-fullwidth">Yes, Delete</button>
        </form>
    </div>
</div>
{% endblock %}